* {
  font-family: 'Courier New', Courier, monospace;
}

.center {
  text-align: center;
}

.svg-logo {
  fill: #000;
  transition: fill 0.3s ease;
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;

}

.svg-logo:hover {
  fill: #050;
}

.pictures {
  max-width: 40%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.pictures_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  margin-top: 0px;
  margin-bottom: 15px;
  font-style: italic;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  background-color: #050;
  padding: 0px 0;
  margin: 0;
}

.nav-menu a {
  color: #FFF;
  text-align: center;
  padding: 10px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  display: block;
}

.nav-menu a:hover {
  color: #050;
  background-color: #AAF;
}

body {
  background-color: #FFF;
}

@media (max-width: 30em) {
  body {
    background-color: purple;
    color: white;
  }
}